<% include ./partials/header %>

<h1><%= title %></h1>
<p>Username: <%= user.username %></p>
<p>Full Name: <input type="text" value="<%= user.full_name %>"></p>
<p>Email: <input type="text" value="<%= user.email %>"></p>
<p>Referred: <%= user.referred %></p>
<p>Referral URL: <%= user.referralUrl %></p>

<% include ./partials/footer %>