<% include ./partials/header %>

<div class="site-content">

    <div class="profile-page">
        <div class="top-title-block">
            <div class="cont">
                <h2>my profile</h2>
            </div>
        </div>
        <div class="cont">
            <div class="left-block">
                <div class="image-block">
                    <img src="images/profile-image.png" alt="">
                </div>
            </div>

            <div class="right-block">
                <h2>Adrian Stancu</h2>
                <ul>
                    <li>
                        <a>
                            <span><img src="images/user-icon.png" alt=""></span>
                            <p><%= user.username %> (<%= user.full_name %>)</p>
                        </a>
                    </li>

                    <li>
                        <a>
                            <span><img src="images/mail-icon.png" alt=""></span>
                            <p><%= user.email %></p>
                        </a>
                    </li>

                    <li>
                        <a>
                            <span><img src="images/ban-icon.png" alt=""></span>
                            <p><%= user.referred %></p>
                        </a>
                    </li>

                    <li>
                        <a>
                            <span><img src="images/link-icon.png" alt=""></span>
                            <p><%= user.referralUrl %></p>
                        </a>
                    </li>

                    <li>
                        <a>
                            <span><img src="images/link-icon.png" alt=""></span>
                            <p id="wallet"><%= user.wallet %></p>
                            <% if(user.wallet == null) { %>
                                <button id="create-wallet">Create Wallet</button>
                            <% } %>
                        </a>
                    </li>

                    <li>
                        <a>
                            <span><i class="fa fa-btc" aria-hidden="true"></i></span>
                            <p id="balance">0.00000000</p>
                            <button id="get-balance">Refresh</button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>